@charset "UTF-8";
/**
 * Jeong A Ra CSS
 * http://jeongara.com/
 *
 * Component CSS
 */

/* ================================
  컴포넌트
================================= */
i.icon {display:flex;align-items:center;justify-content:center;width:2.4rem;height:2.4rem;background-repeat:no-repeat;background-position:center;background-size:100%;}
.icon--google {background-image:url(../img/icon/ico_google.png);}
.icon--apple {background-image:url(../img/icon/ico_apple.png);}
.icon--kakao {background-image:url(../img/icon/ico_kakao.png);}
.icon--naver {background-image:url(../img/icon/ico_naver.png);}
.icon--bell {background-image:url(../img/icon/ico_bell.svg);}
.icon--hamburger {background-image:url(../img/icon/ico_hamburger.svg);}
.icon--time_in {background-image:url(../img/icon/ico_time_in.svg);}
.icon--time_out {background-image:url(../img/icon/ico_time_in.svg);}
.icon--notice {background-image:url(../img/icon/ico_notice.svg);}
.icon--time {background-image:url(../img/icon/ico_time.svg);}
.icon--ranking {background-image:url(../img/icon/ico_ranking.svg);}
.icon--book {background-image:url(../img/icon/ico_book.svg);}
.icon--mento {background-image:url(../img/icon/ico_mento.svg);}
.icon--user {background-image:url(../img/icon/ico_user.svg);}
.icon--parents {background-image:url(../img/icon/ico_parents.svg);}
.icon--schedule {background-image:url(../img/icon/ico_schedule.svg);}
.icon--internet {background-image:url(../img/icon/ico_internet.svg);}
.icon--document {background-image:url(../img/icon/ico_document.svg);}
.icon--document2 {background-image:url(../img/icon/ico_document2.svg);}
.icon--patrol {background-image:url(../img/icon/ico_patrol.svg);}
.icon--exit {background-image:url(../img/icon/ico_exit.svg);}
.icon--request {background-image:url(../img/icon/ico_request.svg);}
.no-scroll{overflow:hidden}


/* 폼 */
input[type=text],
input[type=tel],
input[type=time],
input[type=password],
select,
textarea {font:400 1.7rem/1.5 "Pretendard", system-ui, -apple-system, "맑은 고딕", sans-serif;outline:none;}
input[type=password],
input[type=text],
input[type=tel],
input[type=time],
textarea {appearance:none;-webkit-appearance:none;-moz-appearance:none;-webkit-border-radius:0;border-radius:0;-moz-border-radius:0;resize:none;}
textarea.int-ta {min-height:calc(100vh - 190px) !important;font-size:1.7rem !important;line-height:150% !important;}
button,
input[type=button],
input[type=submit],
input[type=cancel] {font:400 1.7rem/1.5 "Pretendard", system-ui, -apple-system, "맑은 고딕", sans-serif;cursor:pointer;vertical-align:middle;appearance:none;-webkit-appearance:none;-moz-appearance:none;-ms-appearance:none;-webkit-border-radius:0;border-radius:0;-moz-border-radius:0;outline:none;}
select {background:url(../img/icon/ico_select.svg) no-repeat 95% center;background-size:22px;appearance:none;-webkit-appearance:none;-moz-appearance:none;-ms-appearance:none; -webkit-border-radius:1px;border-radius:1px;-moz-border-radius:1px;}
select::-ms-expand {display:none;opacity:0;}
select {appearance:none;-webkit-appearance:none;-moz-appearance:none;}
input[type=text]:focus,
input[type=password]:focus,
select:focus,
textarea:focus {color:var(--color-tit);}
input::placeholder,
input:-moz-placeholder,
input:-ms-input-placeholder {color:var(--color-gray);}
.int {display:flex;width:100%;height:4.8rem;padding:0 1.6rem;background-color:var(--color-white);border:1px solid var(--color-line);border-radius:1rem !important;font-size:1.7rem;color:var(--color-text);line-height:100%;letter-spacing:-0.034rem;}
.int::placeholder {color:var(--color-gray) !important;}
.lbl {position:absolute;top:0;left:1.2rem;padding:0rem 0.5rem;font-size:1.1rem;color:var(--color-dark);background-color:var(--color-white);z-index:2;transform:translateY(-50%);opacity:0;transition:opacity .2s;}
textarea.int {height:100%;padding:1.2rem 1.6rem;border-radius:1rem;border:1px solid var(--color-line);font-size:1.7rem;color:var(--color-text);line-height:150%;letter-spacing:-0.034rem;}
.btn-select {display:flex;align-items:center;position:relative;width:100%;height:4.8rem;padding:0 1.6rem;background-color:var(--color-white);background-repeat:no-repeat;background-position:95% center;background-image:url(../img/icon/ico_select.svg);border:1px solid var(--color-line);border-radius:1rem !important;font-size:1.7rem;color:var(--color-gray);line-height:100%;letter-spacing:-0.034rem;}
/* 시간선택 */
input[type="time"]::-webkit-calendar-picker-indicator {display:none;-webkit-appearance:none;}
input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-clear-button {display:none;}
.form-time {position:relative;}
.form-time .int {position:absolute;left:0;top:0;width:100%;height:100%;opacity:0;pointer-events:none;}
.btn-time {display:flex;align-items:center;position:relative;width:100%;height:4.8rem;padding:0 1.6rem;background-color:var(--color-white);background-repeat:no-repeat;background-position:95% center;background-image:url(../img/icon/ico_hhmm.svg);border:1px solid var(--color-line);border-radius:1rem !important;font-size:1.7rem;color:var(--color-gray);line-height:100%;letter-spacing:-0.034rem;}
/* 활성화 포커스 */
.has-value .btn-time {color:var(--color-dark);}
.is-focus .btn-time {color:var(--color-dark);background-image:url(../img/icon/ico_hhmm_active.svg);border-color:var(--color-pri);}


/* ================================
  폼형태
================================= */
.form {min-height:100%;padding-bottom:5rem;}
.form-group > div {margin-bottom:1.6rem;}
.form-group > div:last-child {margin-bottom:0rem;}
.form-body {display:grid;row-gap:1.6rem;height:calc(100% - 8rem);}
.form-bottom {position:fixed;bottom:1.2rem;left:0;right:0;width:100%;padding:0rem 2.4rem;}
.btnForm {width:100%;height:5.6rem;background-color:var(--color-pri);border:none;border-radius:1rem;font-weight:700;font-size:1.9rem;color:var(--color-white);}
.btnForm:active {background-color:#0018A7;}
.btnForm:disabled {background-color:#A5A8BA;}
.btnLine {width:100%;height:5.6rem;background-color:var(--color-white);border:1px solid var(--color-tit);border-radius:1rem;font-weight:700;font-size:1.9rem;color:var(--color-tit);}
.form-row {position:relative;}
.form-row.last {margin-top:2.4rem;}
.text-message {display:none;padding-top:2px;padding-left:1.6rem;font-size:1.2rem;color:var(--color-text);}
/* 활성화 포커스 */
.form-row.has-value .btn-select,
.form-row.has-value .int {color:var(--color-dark);}
.form-row.has-value .lbl {color:var(--color-dark);opacity:1;}
.form-row.is-focus .lbl {color:var(--color-pri);opacity:1;}
.form-row.is-focus .btn-select,
.form-row.is-focus .int {color:var(--color-dark);border-color:var(--color-pri);}
.form-row.is-error .lbl {color:var(--color-danger);opacity:1;}
.form-row.is-error .btn-select,
.form-row.is-error .int {color:var(--color-dark);border-color:var(--color-danger);}
.form-row.is-error .text-message {display:block;color:var(--color-danger);}



/* ================================
  카드 그리드
================================= */
.card {display:grid;row-gap:1.2rem;position:relative;margin-bottom:1.6rem;padding:2rem 2.2rem;background-color:var(--color-white);border-radius:1.2rem;border:1px solid var(--color-line);}
.card__title {display:flex;align-items:center;column-gap:0.8rem;font-weight:600;font-size:1.3rem;color:var(--color-text);line-height:150%;letter-spacing:-0.026rem;}
.card:last-child {margin-bottom:0rem;}



/* ================================
  텍스트 정보 그리드
================================= */
.info__row {display:flex;align-items:center;justify-content:space-between;padding:1rem 0rem;font-size:1.7rem;color:var(--color-text);}
.info__row dd {color:var(--color-dark);}
.info__row .desc {font-size:1.5rem;}

/* 라인이 들어가는 경우 */
.info-list .info__row {border-bottom:1px solid var(--color-line);}
.info-list > dl:first-child {padding-top:0;}
.info-list > dl:last-child {padding-bottom:0;border-bottom:none;}



/* ================================
  리스트
* 뱃지 (알림, 이용약관 화면)
* 답변 (요청사항 화면)
================================= */
.item {display:grid;align-items:flex-start;column-gap:1rem;position:relative;}
.item__inner {display:grid;flex-direction:column;row-gap:0.8rem;}
.item__head {display:flex;align-items:center;justify-content:space-between;column-gap:1rem;}
.item__title {font-size:1.7rem;line-height:150%;color:var(--color-dark);}
.item__desc {font-size:1.5rem;line-height:100%;color:var(--color-text);}
.item__title,
.item__desc {overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.item__meta {display:flex;align-items:center;column-gap:0.8rem;padding-top:0.8rem;font-weight:300;font-size:1.3rem;color:var(--color-text-sub);line-height:100%;}
.item__body {display:flex;align-items:center;column-gap:1.6rem;}
.item__body .item__meta {padding-top:0rem;}

/* 리스트 */
.item-list {display:grid;}
.item-list > .item {padding:2rem 0rem;border-bottom:1px solid var(--color-line);}
.item-list > .item:first-child {padding-top:0rem;}

/* 아이콘 들어갔을 경우 */
a.item--noicon {padding-right:4.9rem !important;}
a.item--noicon::after {content:'';position:absolute;top:2rem;right:0;width:2.4rem;height:2.4rem;background-repeat:no-repeat;background-position:center;background-image:url(../img/icon/ico_right.svg);}
.item-list > a.item--noicon:first-child::after {top:0rem;}

/* 상벌점화면 */
.demerit .item-list > .item:first-child {padding-top:2rem;}
.item-total {display:grid;row-gap:1.2rem;text-align:center;padding-bottom:2.8rem;border-bottom:2px solid #CCD3FC;}
.total__title {font-weight:700;font-size:1.5rem;color:var(--color-tit);line-height:100%;}
.total__desc {display:flex;align-items:center;justify-content:center;height:3.2rem;font-weight:700;font-size:1.5rem;color:var(--color-tit);}
.total__desc b {font-weight:700;font-size:3.2rem;color:var(--color-pri);}
/* 리스트 */
.item__score {display:inline-flex;align-items:center;column-gap:0.4rem;height:2.8rem;padding:0rem 1rem;border-radius:10rem;font-weight:700;font-size:1.5rem;color:var(--color-white);line-height:100%;}
.item__score::after {content:'';display:flex;width:1.8rem;height:1.8rem;;background-repeat:no-repeat;background-position:center;}
.item__score.score--minus {background-color:var(--color-pri);}
.item__score.score--plus {background-color:var(--color-sec);}
.item__score.score--minus::after {background-image:url(../img/icon/ico_up.svg);}
.item__score.score--plus::after {background-image:url(../img/icon/ico_down.svg);}
div.item--noicon .item__meta {padding-top:1.6rem;}

/* 순찰일지 */
.item__score.score--study {background-color:var(--color-pri);font-weight:400;}
.item__score.score--study::after {background-image:url(../img/icon/ico_study.svg);}

/* 출입기록 */
.log .item-list > .item {padding:1.6rem 0rem;}
.log .item-list > .item:first-child {padding-top:0rem !important;}
.log .item__meta {padding-top:0rem;}
.item__score.score--in {justify-content:center;column-gap:0rem;width:4.8rem;background-color:var(--color-pri);font-weight:400;}
.item__score.score--in::after {content:none;}
.item__score.score--out {justify-content:center;column-gap:0rem;width:4.8rem;background-color:#EC815A;font-weight:400;}
.item__score.score--out::after {content:none;}

/* 뱃지 */
.item__badge {display:inline-flex;align-items:center;justify-content:center;width:4rem;min-width:4rem;height:4rem;background-repeat:no-repeat;background-position:center;font-size:0;}
.badge--alarm {background-image:url(../img/icon/ico_alarm.svg)}
.badge--dm {background-image:url(../img/icon/ico_dm.svg)}
.badge--demerit {background-image:url(../img/icon/ico_admin.svg)}




/* ================================
  모달
================================= */
body.hidden {overflow:hidden;}
.modal {position:fixed;inset:0;z-index:1000;display:grid;place-items:center;z-index:100;-webkit-transition:all 0.3s;transition:all 0.3s;opacity:0;visibility:hidden;}
.modal__overlay {position:absolute;inset:0;background:rgba(0,0,0,.45);}
.modal__dialog {overflow:hidden;display:grid;grid-template-rows:auto 1fr auto;position:relative;top:20rem;width:min(100%, 34.3rem);background:#fff;border-radius:1.2rem;box-shadow:0 12px 32px rgba(0,0,0,.25);-webkit-transition:all 0.3s;transition:all 0.3s;}
.modal--active {visibility:visible;opacity:1;;}
.modal--active .modal__dialog {top:0;}

/* 헤더 */
.modal__header {position:relative;display:grid;grid-template-columns:auto 1fr auto;align-items:center;height:5.6rem;margin-top:1.6rem;padding:0rem 2.4rem;}
.modal__title {display:flex;justify-content:center;margin:0;text-align:center;font-size:1.6rem;font-weight:700;}

/* 바디 */
.modal__body {padding:3rem 4rem 1.3rem;}
.modal__desc {height:10.4rem;margin:2.4rem 0rem;font-size:1.7rem;color:var(--color-text);line-height:150%;}
.modal__btn {display:flex;align-items:center;justify-content:center;column-gap:0.8rem;padding:0rem 2.4rem;}
.btnClose {width:100%;height:5.6rem;background-color:var(--color-white);border:1px solid var(--color-tit);border-radius:1rem;font-weight:400;font-size:1.9rem;color:var(--color-tit);}
.modal__infos {display:grid;row-gap:0.8rem;margin:2.4rem 0rem;font-size:1.7rem;color:var(--color-text);line-height:150%;}

/* 푸터 */
.modal__footer {display:flex;align-items:center;justify-content:space-between;gap:0.8rem;height:7.2rem;border-top:1px solid #CDD1D5;padding:1rem 2.4rem;}
.modal__spacer {width:1px;height:1px}
.modal__footer .btn {display:flex;align-items:center;justify-content:center;width:6.4rem;height:4rem;background:transparent;border-radius:0.6rem;border:1px solid var(--color-dark2);font-size:1.5rem;color:var(--color-dark2);}
.modal__footer .btn.btn--primary {border-color:var(--color-pri);background:var(--color-pri);color:var(--color-white)}
.modal__footer .btn.btn--today {width:3rem;border:none;}
.modal__footer .btn.btn--ghost {background:#fff;color:#222;}
.modal__right {display:flex;align-items:center;gap:0.8rem;}
/* 삭제 */
#modal-delete.modal--detail .modal__dialog {min-height:22.6rem;padding-bottom:1.2rem;}

/* 모달 상세버전 */
.modal--detail.modal {align-items:end;}
.modal--detail .modal__dialog {width:100%;min-height:29.6rem;max-height:calc(100% - 5rem);border-radius:1.2rem 1.2rem 0rem 0rem;}
.modal__dialog.full {height:calc(100% - 5rem);}

/* 상세 */
.view {margin-top:-3.6rem;}
.view__inner {overflow-y:auto;overflow-x:hidden;display:flex;flex-direction:column;}
.view__head {display:flex;align-items:center;justify-content:space-between;position:sticky;top:0;padding-top:3rem;padding-bottom:2rem;background-color:var(--color-white);}
.view__title {font-size:2.1rem;color:var(--color-tit);}
.view__body {font-size:1.7rem;color:var(--color-text);}
.view__meta {display:flex;align-items:center;column-gap:1rem;;font-weight:600;font-size:1.5rem;color:var(--color-dark);line-height:100%;letter-spacing:-0.03rem;}
.view__date {display:flex;align-items:center;column-gap:0.4rem;}
.view__date::before {content:'';display:flex;width:2.4rem;height:2.4rem;background-repeat:no-repeat;background-position:center;background-image:url(../img/icon/ico_hhmm.svg);}
.view__guide {display:flex;align-items:center;justify-content:center;height:17rem;font-size:1.7rem;color:var(--color-gray);line-height:150%;letter-spacing:-0.034rem;text-align:center;}
.view__inner.inner--answer {padding-bottom:3.9rem;}
.view__inner.inner--content {padding:0rem 2.4rem 4.6rem;background-color:#F8F8F8;border-radius:1.6rem;}
.view__inner.inner--content .view__head {padding-top:2rem;background-color:#F8F8F8;}
.view__inner.inner--content .view__title {font-size:1.7rem;}
.inner--answer .view__contents {padding:3rem 1.6rem 0rem;color:var(--color-tit);letter-spacing:-0.034rem;}

/* 선택리스트 */
.select__inner {overflow-y:auto;overflow-x:hidden;padding:2.6rem 1.6rem;}
.select__inner .view__title {padding:0rem 2.4rem 1.6rem;}
.select-list {}
.select-list li {display:flex;align-items:center;position:relative;height:5.2rem;padding:0rem 2.4rem;border-radius:10rem;font-size:1.7rem;color: var(--color-text);cursor:pointer;}
.select-list li::after {content:'';position:absolute;top:1rem;right:2.2rem;width:3.2rem;height:3.2rem;background-repeat:no-repeat;background-position:center;background-image:url(../img/icon/ico_check.svg);opacity:0;}
.select-list li.is-active {background-color:#EBEDFE;font-weight:700;color:var(--color-pri);}
.select-list li.is-active::after {opacity:1;}

/* 탭 */
.tab-list {display:grid;align-items:center;justify-content:center;grid-template-columns:repeat(2, 1fr);list-style:none;text-align:center;}
.tab-list li {display:flex;align-items:center;}
.tab-list li a {width:100%;padding-bottom:1.6rem;border-bottom:4px solid var(--color-white);font-weight:400;font-size:2.3rem;cursor:pointer;color:var(--color-gray);line-height:100%;text-align:center;}
.tab-list li.is-active a {border-color:var(--color-pri);color:var(--color-pri);font-weight:700;}