@charset "UTF-8";
/**
 * Jeong A Ra CSS
 * http://jeongara.com/
 *
 * Layout Guide CSS
 */


/* ================================
  header
================================= */
.app {display:flex;flex-direction:column;min-height:100dvh;padding-top:max(env(safe-area-inset-top),0px);padding-bottom:max(env(safe-area-inset-bottom),0px);background-color:var(--color-white);}
.app-header--sub {display:flex;align-items:center;position:sticky;top:0;z-index:10;height:5rem;background:#fff;padding:calc(1.2rem + env(safe-area-inset-top)) 1.6rem 1.2rem;}
.app-header--sub .btn {width:5rem;height:100%;background-color:transparent;border:none;}
.app-header--sub .btn .icon {margin:0 auto;}
.app-header {padding:calc(0rem + env(safe-area-inset-top)) 0.6rem 0rem;}
.app-header__title {margin:0;font-size:1.9rem;font-weight:700;line-height:150%;color:var(--color-tit);}
.app-header__link {position:relative;font-size:0;}
.app-header__notice .is-on {position:absolute;top:0.2rem;right:0.4rem;outline:0.2rem solid #F7B680;border-radius:0.4rem;}
.app-header--sub .btn.btn--plus {position:absolute;top:0;right:0;width:6.7rem;}
.btn--back {background-repeat:no-repeat;background-position:center;background-image:url(../img/icon/ico_arrow_left.svg);}
.btn--close {background-repeat:no-repeat;background-position:center;background-image:url(../img/icon/ico_close.svg);}
.btn--more {background-repeat:no-repeat;background-position:center;background-image:url(../img/icon/ico_more.svg);}
.btn--plus {background-repeat:no-repeat;background-position:center;background-image:url(../img/icon/ico_plus.svg);}

/* 홈화면 */
.app-header--main {display:flex;align-items:center;justify-content:flex-end;gap:0.8rem;position:absolute;top:0;right:2.2rem;padding-top:1.2rem;padding-left:0;padding-right:0;z-index:10;}
.app-header__my {overflow:hidden;position:absolute;top:0.5rem;right:2.4rem;width:4rem;height:4rem;border-radius:1.6rem;}
.app-header__my img {width:100%;height:100%;border-radius:1.6rem;}

/* 더보기 */
.app-header__more {position:absolute;top:0;right:0;width:6rem !important;height:5rem;}
.more {position:absolute;top:5rem;right:2.4rem;z-index:100;opacity:0;visibility:hidden;}
.more-list {list-style:none;background-color:var(--color-white);border-radius:1.2rem;border:1px solid var(--color-line);}
.more-list a {display:flex;align-items:center;width:14rem;height:4.8rem;padding:0rem 1.6rem;font-size:1.5rem;color:var(--color-text);line-height:100%;}
.more-list li:first-child a {border-bottom:1px solid var(--color-line);}
.more-list a::after {content:'';position:absolute;right:1.6rem;display:flex;align-items:center;justify-content:center;width:2.4rem;height:2.4rem;background-repeat:no-repeat;background-position:center;background-size:100%;}
.more-list a.btn-load::after {background-image:url(../img/icon/ico_check2.svg);}
.more-list a.btn-delete::after {background-image:url(../img/icon/ico_close.svg);background-size:80%;}
.more.is-open {visibility:inherit;opacity:1;}



/* ================================
  container (메인 콘텐츠 영역)
================================= */
main {flex:1;display:block;position:relative;z-index:1;}

/* 서브 */
.app-sub {padding-top:3.6rem;padding-bottom:4rem;}
.app-sub__inner {display:grid;row-gap:2.2rem;padding:0px 2.4rem;}
.app--bg {background-color:var(--color-bg);}
.app-nopost {display:flex;flex-direction:column;align-items:center;row-gap:3.5rem;position:absolute;top:0;left:0;width:100%;height:100%;padding-top:12rem;background-color:var(--color-bg);}
.app-nopost > p {font-size:1.7rem;color:var(--color-gray);line-height:150%;letter-spacing:-0.034rem;}
.app-foot {height:6.4rem;}
.app-foot .btnForm {position:fixed;bottom:1.2rem;left:0;right:0;width:32.7rem;margin:0 auto;}



/* ================================
  tabbar
================================= */
.tabbar {display:grid;align-items:flex-start;grid-template-columns:repeat(3, 1fr);gap:4rem;position:fixed;left:0;bottom:0;width:100%;height:6.2rem;padding:1.2rem 5.45rem 0.8rem;background-color:var(--color-white);box-shadow:0.5rem 0.4rem 2rem 0 rgba(0, 0, 0, 0.15);z-index:10;}
.tabbar__item {display:grid;justify-content:center;row-gap:0.4rem;width:6.2rem;background-color:transparent;border:none;font-size:1.2rem;color:var(--color-text-sub);cursor:pointer;}
.tabbar__item .icon--home {background-image:url(../img/nav/ico_home.svg);}
.tabbar__item .icon--chat {background-image:url(../img/nav/ico_chat.svg);}
.tabbar__item .icon--file {background-image:url(../img/nav/ico_file.svg);}
/* 활성화 */
.tabbar__item.is-active {color:var(--color-pri);}
.tabbar__item.is-active svg path {fill:var(--color-pri);}
.tabbar__item.is-active .icon--home {background-image:url(../img/nav/ico_home_active.svg);}
.tabbar__item.is-active .icon--chat {background-image:url(../img/nav/ico_chat_active.svg);}
.tabbar__item.is-active .icon--file {background-image:url(../img/nav/ico_file_active.svg);}