.lightpick {
  padding: 1.65rem 1.6rem;
}

.lightpick--inlined {
  position: relative;
}

.lightpick,
.lightpick *,
.lightpick::after,
.lightpick::before {
  box-sizing: border-box;
}

.lightpick.is-hidden {
  display: none;
}

.lightpick__months {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 1px;
}

.lightpick--2-columns .lightpick__months {
  grid-template-columns: auto auto;
}

.lightpick--3-columns .lightpick__months {
  grid-template-columns: auto auto auto;
}

.lightpick--4-columns .lightpick__months {
  grid-template-columns: auto auto auto auto;
}

.lightpick--5-columns .lightpick__months {
  grid-template-columns: auto auto auto auto auto;
}

.lightpick__month {
}

.lightpick__month-title-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative;
  margin-bottom:2.45rem;
}

.lightpick__month-title {
  padding:0.55rem 0rem 0.55rem;border-radius:.6rem;text-align:right;font-weight:700;font-size:1.9rem;color:var(--color-dark2);
}

.lightpick__month-title>.lightpick__select {
  border: none;
  background-color: transparent;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding-right:2.8rem;
  font-weight:700;font-size:1.9rem;color:var(--color-dark2);
}

.lightpick__month-title>.lightpick__select:disabled {
  color: #333;
}

.lightpick__toolbar {
}

.lightpick__previous-action,
.lightpick__next-action,
.lightpick__close-action {width:3.2rem;height:3.2rem;background:transparent;border:1px solid #CDD1D5;border-radius:100%;font-size:1.6rem;line-height:100%;}

.lightpick__previous-action,
.lightpick__next-action {position:absolute;top:0.4rem;}

.lightpick__close-action {
  font-size: 1.8rem;
}
.lightpick__previous-action {left:0;}
.lightpick__next-action {right:0;}

.lightpick__previous-action:active,
.lightpick__next-action:active,
.lightpick__close-action:active {
  color: inherit;
}

.lightpick__days-of-the-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-bottom:0.85rem;
}

.lightpick__day-of-the-week {
  display: flex;justify-content:center;
  font-size:1.5rem;color:var(--color-dark2);line-height:2.3rem;text-align:center;
}

.lightpick__days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.lightpick__day {
  display:flex;align-items:center;justify-content:center;height:4.4rem;background:var(--color-white);border:0;border-radius:100%;color:var(--color-dark2);text-align:center;font-size:1.7rem;cursor:pointer;
}

.lightpick__day.is-today {
  background-color:#1e2f6e;
  background-size: 18.8% auto;
  background-position: center bottom;
  color: #FFF;
}

.lightpick__day:not(.is-disabled):hover {
  background-size: contain;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Ccircle fill='%23E0E0E0' cx='16' cy='16' r='16'/%3E%3C/svg%3E");
}

.lightpick__day.is-disabled {
  opacity: 0.38;
  pointer-events: none;
}

.lightpick__day.disabled-tooltip {
  pointer-events: auto;
}

.lightpick__day.is-disabled.is-forward-selected {
  opacity: 1;
}

.lightpick__day.is-disabled.is-forward-selected:not(.is-start-date) {
  background-color: rgba(38, 139, 210, 0.1);
  background-image: none;
}

.lightpick__day.is-previous-month,
.lightpick__day.is-next-month {
  opacity: 0.38;
}

.lightpick__day.lightpick__day.is-in-range:not(.is-disabled) {
  opacity: 1;
}

.lightpick__day.is-in-range {
  border-radius: 0;
  background-color: rgba(38, 139, 210, 0.1);
  background-image: none;
}

.lightpick__day.is-in-range:hover {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Ccircle fill='rgba(38, 139, 210, 0.5)' cx='16' cy='16' r='16'/%3E%3C/svg%3E");
}

.lightpick__day.is-start-date.is-in-range,
.lightpick__day.is-end-date.is-in-range.is-flipped {
  border-top-left-radius: 50%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 50%;
  background-color: #268BD2;
  background-image: none;
}

.lightpick__day.is-end-date.is-in-range,
.lightpick__day.is-start-date.is-in-range.is-flipped {
  border-top-left-radius: 0;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 0;
  background-color: #268BD2;
  background-image: none;
}

.lightpick__day.is-start-date.is-end-date {
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Ccircle fill='%23268BD2' cx='16' cy='16' r='16'/%3E%3C/svg%3E");
}

.lightpick__day.is-start-date,
.lightpick__day.is-end-date,
.lightpick__day.is-start-date:hover,
.lightpick__day.is-end-date:hover {
  background-color:var(--color-pri);
  background-size: auto;
  background-position: center;
  color: #FFF;
}

.lightpick__tooltip {
  position: absolute;
  margin-top: -4px;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #FFF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  font-size: 11px;
  pointer-events: none;
}

.lightpick__tooltip::before {
  position: absolute;
  bottom: -5px;
  left: calc(50% - 5px);
  border-top: 5px solid rgba(0, 0, 0, 0.12);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: "";
}

.lightpick__tooltip::after {
  position: absolute;
  bottom: -4px;
  left: calc(50% - 4px);
  border-top: 4px solid #FFF;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
}

.lightpick__footer {
  display: flex;
  justify-content: space-between;
}

.lightpick__reset-action,
.lightpick__apply-action {
  border-radius: 5px;
  font-size: 12px;
  border: none;
}

.lightpick__reset-action {
  color: #fff;
  background-color: #aeacad;
}

.lightpick__apply-action {
  color: #fff;
  background-color: #2495f3;
}